@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

:root{
	font-family: Rajdhani, Segoe UI, sans-serif;
	font-weight: 400;
}
body{
	background: #111;
	margin: 0;
}
.sidebar{
	background: #222;
	width: 300px;
	color: #ddd;
	padding: 10px;
	height: 100%;
}
.separator{
	border-top: 1px solid #888;
	margin: 20px 0;
}
.sidebarItem{
	color: #ddd;
	display: block;
	font-size: 20px;
	margin: 5px;
	text-decoration: none;
	width: 100%;
}
.sidebarItem:hover{
	color: #d7191b;
	text-shadow: 1px 1px 5px;
}
.homeButton{
	font-size: 40px;
}